<!-- AARON"S EDITS -->
<style media="screen">
  .main {
    /*margin-left: 150px;*/
    background-color: #B6E19C;
  }
  img {
    width: 150px;
  }
  body {
    background-color: #B6E19C

  }
  #recipe_results {
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 25px;
    text-align: center;
    background-color: #B6E19C
  }

  #result_styling {
    background-color: white;
    width: 840px;
    text-align: center;
    border: 5px solid black;

  }
</style>

<div id="recipe_results">
<div class="main">
  <br><h1>Your recipe search results</h1><br>
  <div id="result_styling" class="container-fluid">
  {{#each recipes}}
  <br>
  <h1>{{recipeName}} </h1>
  Source: {{sourceDisplayName}}<br><br>
  <img src="{{smallImageUrls}}" alt="recipe photo"><br><br>
  Yummly Rating: {{rating}}<br>
  Cuisine: {{attributes.cuisine}}<br>
  Course: {{attributes.course}}<br>
  Ingredients: {{ingredients}}
  <br>
  <hr>
  {{/each}}
  </div>
</div>
</div>
