<style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 80%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>
<div id="map"></div>
<!-- TAG BELOW RECEIVES RESULTS FROM THE APP.GET CALL ON THE BACKEND.JS FILE WHICH IS CALLING THE USDA API  -->
{{#each USDAinfo}}
  {{marketname}}
  {{address}}
  {{googlelink}}
  {{products}}
  {{schedule}}
{{/each}}

<script type="text/javascript">
  var locations = [];
  {{#each coordinates}}
    locations.push([{{this.lat}}, {{this.lng}}]);
  {{/each}}
  var center = {
    lat: {{coordinates.0.lat}},
    lng: {{coordinates.0.lng}}
  };
</script>
<script src="googlemapsscript.js"></script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBb6ScimQwZIe_U4WWbctFa2SeR7qOK6Ck&callback=initMap"></script>
