

<style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */

  .main {
    background-color: #B6E19C;
  }

  #map {
    height: 50%;
    clear: both;
    border-left: 194px solid #B6E19C;
    border-right: 194px solid #B6E19C;
  }

  #style_results {
    margin: 0 175px 175px 175px;
    border: 5px solid #B6E19C;
    padding: 10px;
    font-size: 15px;
    background-color: white;
  }

  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>
<div id="map"></div>
<div class="main">

<div id="search_page_results" class="container-fluid">
<!-- TAG BELOW RECEIVES RESULTS FROM THE APP.GET CALL ON THE BACKEND.JS FILE WHICH IS CALLING THE USDA API  -->
<div id="style_results">
  {{#each USDAinfo}}<br>
  <h3>{{mapMarkerLetter}}: {{marketname}}</h3>
  <h4>{{address}}
  <a href="{{googlelink}}" target="_blank">Get directions</a></h4><br>
  Products Offered:<br>{{products}}<br><br>
  Schedule:<br>
  {{schedule}}
  <br><br>
  <form class="market_button" action="/market_page/{{marketID}}">
    <input type="submit" value="MARKET PAGE"/>
  </form>
  <hr>

{{/each}}
</div>

<script type="text/javascript">
  var locations = [];
  {{#each coordinates}}
    locations.push([{{this.lat}}, {{this.lng}}]);
  {{/each}}
  var center = {
    lat: {{coordinates.0.lat}},
    lng: {{coordinates.0.lng}}
  };
</script>
<script src="googlemapsscript.js"></script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBb6ScimQwZIe_U4WWbctFa2SeR7qOK6Ck&callback=initMap"></script>
</div>
</div>
